# Python
*.pyc
*.pyo
__pycache__/
*.py[cod]

# Django
*.log
*.pot
*.pyc
local_settings.py
db.sqlite3

#Migrations
migrations/

# Static files
staticfiles/
*.bak
*.swp
*.~*

# Media files
media/

# Virtual environment
venv/
env/
.env

# IDE files
.idea/
.vscode/
*.sublime-*
*.pycharm-*

# Miscellaneous
.DS_Store
Thumbs.db
